params {
    // Required parameters
    fasta                   = null    // Input genome fasta file
    reads                   = false    // Input reads (not used in genome preparation)
    
    // Output options
    outdir                  = "results"
    
    // Tool-specific options
    aligner                 = "bowtie2" // Aligner to use (bowtie2, hisat2, minimap2)
    parallel                = 1         // Number of parallel threads for indexing
    path_to_aligner         = false     // Path to aligner executable
    large_index             = false     // Use large-index mode for indexing
    slam                    = false     // Use SLAM mode
    directional             = false     // Use directional library
    
    // Pipeline control
    genome_preparation_only = false
    
    // Other options
    single_end             = false
    genomic_composition    = false

    // Methylation extraction
    comprehensive          = false
    CX_context             = false
    ignore                 = 0
    ignore_r2              = 0
    ignore_3prime          = 0
    ignore_3prime_r2       = 0

    // Deduplication
    skip_deduplication     = false

    // bedGraph / coverage
    coverage_threshold     = 1
    merge_CpGs             = false

    // Cytosine report
    cytosine_report        = false
}

// Default profile
profiles {
    test {
        params {
            // Test dataset
            fasta = "${projectDir}/test_files/NC_010473.fa.gz" // TODO: Add test dataset
            reads = "${projectDir}/test_files/*_R{1,2}.fastq.gz"
        }
        docker.enabled = true
        wave.enabled = true
    }
}

manifest {
    name            = 'Bismark-nf'
    author          = 'Nextflow Implementation Team'
    homePage        = 'https://github.com/username/Bismark-nf'
    description     = 'Bisulfite Mapper and Methylation Caller in Nextflow'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.10.3'
    version         = '0.1.0'
}