params {
    // Shared test data parameters
    test_data_dir = "${projectDir}/test_files"
    genome = "${projectDir}/test_files"
    outdir = "${projectDir}/results"
    
    // Parameters for the genome preparation subworkflow
    aligner = "bowtie2"
    single_fasta = false
    slam = false
    parallel = 1
    path_to_aligner = false
    large_index = false
    genomic_composition = false

    // Methylation extraction
    comprehensive       = false
    CX_context          = false
    ignore              = 0
    ignore_r2           = 0
    ignore_3prime       = 0
    ignore_3prime_r2    = 0
    skip_deduplication  = false
    coverage_threshold  = 1
    merge_CpGs          = false
    cytosine_report     = false
}

process {
    // Set process resource requirements to minimal for testing
    cpus = 1
    memory = 2.GB
    time = 1.h
}

// Use docker container for testing if available
docker {
    enabled = true
    temp = 'auto'
}

// Don't use container if not available
singularity.enabled = false
podman.enabled = false
shifter.enabled = false
charliecloud.enabled = false 