params {
    // Shared test data parameters
    test_data_dir = "${projectDir}/test_files"
    genome = "${projectDir}/test_files"
    outdir = "${projectDir}/results"
    
    // Parameters for the genome preparation subworkflow
    aligner = "bowtie2"
    single_fasta = false
    slam = false
    parallel = 1
    path_to_aligner = false
    large_index = false
    genomic_composition = false
    barcode = false

    // Alignment params
    directional      = true
    pbat             = false
    unmapped         = false
    ambiguous        = false

    // Methylation extractor params
    comprehensive    = false
    CX_context       = false
    ignore           = false
    ignore_r2        = false
    ignore_3prime    = false
    ignore_3prime_r2 = false
}

process {
    // Set process resource requirements to minimal for testing
    cpus = 1
    memory = 2.GB
    time = 1.h
    container = 'quay.io/biocontainers/bismark:0.24.2--hdfd78af_0'
}

// Use docker container for testing if available
docker {
    enabled = true
    temp = 'auto'
}

// Don't use container if not available
singularity.enabled = false
podman.enabled = false
shifter.enabled = false
charliecloud.enabled = false 